<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mucu-login</title>
    <meta charset="UTF-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
<script>
    function userLogin() {
        document.getElementById("button-common/submit").value = "Submit";
        document.getElementById("button-user").style.display = "none";
        document.getElementById("user").style.display = "block";
    }
    $(function() {
        $('#button-user').bind('click', function() {
            $.getJSON('/generateUrl', {}, function(data) {
                $("#key_href").attr("href", data.result);
            });
            return false;
        });
    });
</script>

<form method="post">
    <input type="button" id="button-user" onclick="userLogin()" value="user">

    <div id="user" style="display: none">
        <p>Get verifier here: <a id="key_href" href="" target="_blank">click</a></p>
        <input type="text" name="key" value=""><br>
    </div>

    <input type="submit" id="button-common/submit" value="common">
</form>
{% if error %}
<p class="error"><strong>Error:</strong> {{ error }}</p>
{% endif %}
</body>
</html>
<!--<!DOCTYPE html>
<html lang="en">
<head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
{% if authorize_url %}
<div id="user">
    <form name="check_login_type" method="post" onsubmit="change_content()">
        <p>Get verifier here: <a href={{ authorize_url }}>click</a></p>
        <input type="text" name="acess" placeholder="Acess">
    </form>
</div>
{% else %}
<div id="check_type">
    <form name="check_login_type" method="post" onsubmit="change_content()">
        <input type="submit" name="login_type" value="user">
        <input type="submit" name="login_type" value="common">
    </form>
</div>
{% endif %}

{% if error %}
<p class="error"><strong>Error:</strong> {{ error }}</p>
{% endif %}
</body>
</html>-->